<div class="mx-auto max-w-full px-24 sm:px-6 lg:px-8 py-12">
  <div 
    class="mx-auto max-w-full" 
    id="board" 
    style="overflow-x: scroll;" 
    data-controller="board"
    data-api-url="<%= api_board_lists_path(@board) %>"
    data-list-position-api-url="<%= api_board_list_positions_path(@board) %>"
    data-board-lists-url="<%= board_lists_path(@board) %>"
  >
  </div>
</div>